body {
    font-family: 'Open Sans', sans-serif;
}
header {
    position:relative;
    margin: 0px 1% 0px 1%;
    background-color: lightgrey;
    border: solid;
    border-width: 1px;
    height: 90px;
    min-width:947px;
}
header h1 {
    text-align: center;
}
select {
    width: 60px
}
hr {
    margin: 5px 0px;
}
footer {
    text-align: center;
}
/*
Scroll bar styling borrowed from:
https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
Then slightly changed
*/ 
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*End borrowed code*/
.popup {
    margin-left: -150px;
    background: slategrey;
    border: groove 2px darkslategray;
    position: absolute;    
    top: 15px;
    left: 50%;
    width: 300px;
    height: auto;
    text-align: center;
    z-index: 999;
}
#blocker {
    position: absolute;
    left: 0;
    right: 0;
    height: 99%;
    width: 99%;
    z-index: 998;
}
.duplicate-button {
    margin: 10px 0px;
    width: 115px;
    height: 30px;

}
#duplicate-ok {
    margin: 0px 20px 0px 0px;
}
#confirmation-text {
    margin: 15px;
}
#credits {
    position: absolute;
    margin: 0px;
    width: 100px;
    height: 30px;
    top: 30px;
    left: 86%;
}
#save {
    position: absolute;
    margin: 0px;
    width: 150px;
    height: 30px;
    top: 30px;
    right: 80%;
}
#list-view-main {
    display: flex;
}
#wrapper {
    display: flex;
    min-height: calc(100vh - 108px);
    flex-direction: column;
    justify-content: space-between;
}
#list-view-main #search {
    font-weight: bold;
    padding: 4px;
    margin: 15px 1% 5px 1%;
    background-color: lightgrey;
    border: solid;
    border-width: 1px;
    text-align: center;
    min-width: 255px;
    height: 440px;
}
input[type="radio"] {
    display:inline-block
}
.active {
    color: black;
}
.inactive {
    color: grey;
}
#search-criteria  .search-label{
    display: block;
    text-align: left;
    margin: 0px 0px 18px 5px;
}
#search-criteria  .param-label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 80px;
}
.bordered-input {
    padding: 5px 0px;
    display: block;
    margin-top: 5px;
    border: solid;
    border-width: 2px;
    border-color: #e0e0e0;
}
.params {
    width: 45px;
    float: right;
    margin-right: 7px;
}

/*
Borrowed from: 
https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp 
removes arrows on number input
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*End borrowed code*/ 

input[type=number] {
    -moz-appearance: textfield;
}
.search-text {
width: 60%;
height: 25px;
float: right;
margin-right: 5px;
margin-top: -3px;
}
#button-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px; 
}
#button-container button{
    margin: 0px;
    width: 100px;
    height: 30px;
}
#list-view-main #results {
    margin: 15px 1% 5px 0px;
    background-color: lightgrey;
    grid-column-start: 2;
    grid-column-end: 6; 
    text-align: center;
    width: calc(100vw - 255px);
    height: 450px;
    min-width: 675px;
    /*set min-width once we know list width*/
}
#result-header {
    margin: 10px 0px;
    font-weight: bold;
}
#results #result-list{
    padding: 0px 0px 0px 10px;
    margin-left: 0px;
    background-color:  lightsteelblue;
    overflow-y: scroll;
    height: 359px;
    list-style: none;
}
#results #result-list li, #list-header, #playlist li{
    text-align: left;
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 2fr 2fr 1fr; 
}
.result-title,.playlist-title,.playlist-name{
    color: darkblue;
    cursor: pointer;
}
#list-header {
    font-weight: bold;
}
#playlist-panel {
    position: absolute;
    background-color: lightgrey;
    border: solid 1px;
    width: 200px;
    
}
.panel-item {
    display:block;
    margin: 5px 10px;
}
#panel-button {
    margin: 0px 0px 5px 80px;
    width: 115px;
    height: 30px;
}
#list-header {
    margin-left: 10px;
}
#results #result-list li label{
    display: inline-block;
}

/*
Borrowed code from:
https://css-tricks.com/snippets/css/css-triangle/
It is old I know
*/
.arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display:inline-block;
    border-top:10px solid skyblue;
    margin: 0px 2px 0px 0px;
}
/*End borrowed code*/


.result-item {
    margin: 0px;
}
#result-list li .add-container {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}
#result-list li button {
    height: 22px;
}

#song-view-main {
    display: flex;
    margin: 10px 9px;
}
.header-button {
    position: absolute;
    margin: 0px;
    width: 100px;
    height: 30px;
    top: 39px;
    left: 72%;
}
#song-view-main #song-info {
    width: 380px;
    background-color: lightgrey;
    border: solid 1px;
    margin: 0px 5px 0px 0px;
    height: 610px
}
#song-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#song-info h2 {
    margin: 10px 0px 0px 20px;
}
#song-view-main #graph {
    width: 556px;

    background-color: lightgrey;
    border: solid 1px;
    margin: 0px 0px 0px 5px;
    height: 610px;
    text-align: center;
}
#graph h2 {
    margin: 10px 0px 0px 0px;
}
#catagories {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#playlist-view-main {
    display: flex;
    margin: 10px 9px;
}
#playlist-list ul{
    margin-left: -30px;
    overflow-y: scroll;
    height: 391px;
    list-style: none;
}
#playlist-list {
    width: 20%;
    min-width: 189px;
    background-color: lightgrey;
    margin: 0px 5px 0px 0px;
    height: 450px;
}
#playlist-list h2{
    margin: 10px 0px 0px 20px;
}
#playlist-remove {
    position: absolute;
    top: 125px;
    left: 25%;
}
#playlist-content{
    margin-left: -30px;
    overflow-y: scroll;
    height: 369px;
    list-style: none;
}
#playlist {
    width: 80%;
    min-width: 756px;
    background-color: lightgrey;
    margin: 0px 0px 0px 0px;
    height: 450px;
    text-align: center;
}
#playlist h2{
    margin: 10px 0px 0px 0px;
}
.hidden {
    display:none !important;
}
.centered {
    text-align: center;
}